
.header {  
    display: flex;
    justify-content: space-between;
    /* background-color: var(--clr-orange);  */
    font-size: 2rem;
    & .logo {
        display: flex;
        align-items: center;
        & img {
            width: 15rem;
        }
    }
    & a {
        color: var(--clr-black);
        &.active {
            color: var(--clr-blue);
        }
    }
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;    
    }
}
