:root {
  --white: #ffffff;
  --black: #000a03;
  --light-blue: #508cec;
  --mid-blue: #3f75cc;
  --blue: #397de8;
  --dark-blue: #0100fd;
  --orange: #ff6e2f;
  --hover-orange: #ec4b14;
  --hover-blue: #4c85df;
  --back-crl: #f4f4f4;
  --light-gray: #aaaa;

  --border-radius: 0.5rem;
  --padding: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: var(--back-crl);
}

i,
cite,
em {
  font-family: 'Spectral', sans-serif;
  font-style: italic;
}

b,
strong,
h1,
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Unily', serif;
  font-size: 3rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

li {
  list-style: none;
}
