{{define "base"}}

<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/css/style.css">
  <title>
    {{ block "title" .}}

    {{ end }}
  </title>
</head>
<body>
  {{ template "header" .}}  
  <div class="container">
    {{ template "navigation" .}}
    <ots-alert-message type="critical"></ots-alert-message>
    <main>
      <section class="cards">
            {{ block "content" .}}{{end}}
      </section>
  </main>
  </div>
  <script src="./static/js/main.js" type="module" defer></script>
  {{ block "js" .}}
  {{ end }}
</body>

</html>

{{end}}