<header>
    <nav class="flex flex-row justify-between">
        <div class="flex-2">
            <img class="h-24" src="images/arxada-blue.png" alt="Arxada Logo">
        </div>
        <div class="flex-1 flex flex-row items-center justify-between text-2xl px-5">
            <a 
            class="hover:text-blue-500 text-2xl"
            routerLink="home" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a class="hover:text-blue-500 text-2xl" routerLink="operation">Operationen</a>
            <a class="hover:text-blue-500 text-2xl" routerLink="unit">Units</a>
            <a class="hover:text-blue-500 text-2xl" routerLink="recipe">Rezepte</a>
        
            <a class="hover:text-blue-500 text-2xl" routerLink="upload">Upload</a>                
            <a class="hover:text-blue-500 text-2xl" routerLink="plant">Anlagen</a>
        
            <a class="hover:text-blue-500 text-2xl" routerLink="login">Login</a>                
            <a class="hover:text-blue-500 text-2xl" routerLink="impressum">Impressum</a>                
        </div>       
    </nav>
</header>

