<header>
    <nav class="flex flex-row justify-between">
        <div class="flex-2">
            <img class="h-24" src="images/arxada-blue.png" alt="Arxada Logo">
        </div>
        <div class="flex-1 flex flex-row items-center justify-between text-2xl px-5">
            <a 
            class="link"
            routerLink="home" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a 
                class="link" 
                routerLink="operation" 
                routerLinkActive="active">Operationen</a>
            <a 
                class="link" 
                routerLink="unit" 
                routerLinkActive="active">Units</a>
            <a 
                class="link" 
                routerLink="recipe" 
                routerLinkActive="active">Rezepte</a>
        
            <a 
                class="link" 
                routerLink="upload" 
                routerLinkActive="active">Upload</a>                
            <a 
                class="link" 
                routerLink="plant"
                routerLinkActive="active">Anlagen</a>
        
            <a 
                class="link" 
                routerLink="login" 
                routerLinkActive="active">Login</a>                
            <a 
                class="link" 
                routerLink="impressum" 
                routerLinkActive="active">Impressum</a>                
        </div>       
    </nav>
</header>

