{{template "base" .}}
{{define "content"}}
<ots-alert-message type="critical">Hier eine message</ots-alert-message>
<article class="card-list">
  <h2 class="card-title">
    Neue Daten einlesen {{ index .FileName }}
  </h2>
  <section class="card-body">
    <form class="form" action="" method="POST" id="uplaod-form">
      <div class="group_controls">
        <fieldset id="plant_radio"></fieldset>
      </div>
      <fieldset class="file_upload" disabled>
        <div class="group-controls">
          <label for="file-input" class="file-label" id="file-label">Datei auswählen
            <input class="file-input" type="file" id="file-input" accept=".fhx">
          </label>
        </div>
        <div class="group-controls">
          <button type="button" class="btn" id="btn-upload">Upload</button>
        </div>
      </fieldset>
    </form>
  </section>
</article>
{{ end }}
{{ define "js"}}

<script>
  'strict on'

  const input = document.getElementById('file-input');
  const label = document.getElementById('file-label');
  const upload = document.querySelector('.file_upload');
  const inputForm = document.getElementById('uplaod-form');
  const idPlant = document.getElementById('id_plant');
  const radio_field = document.getElementById('plant_radio');
  const uploadFile = {
    file_string: "",
    plant_id: 0,
  }

  function showCriticalMessageBox(text) {
    //FIXME - die message box wird nicht angezeigt
    //im HTML ist die vorhanden aber der die Messagebox funktioniert nicht

    const message = document.getElementById('message');
    message.setAttribute('hidden', 'false');
    message.innerHTML = text;
    message.type = "critical";
    message.hidden = "true";
  }

  document.addEventListener("DOMContentLoaded", function () {

    readPlants(radio_field);

    // File Hochladen
    input.addEventListener('change', function () {
      var fr = new FileReader();
      label.innerText = "Upload der Datei: " + this.files[0].name;
      fr.onload = function () {
        let output = fr.result;

        upload.addEventListener('click', function (event) {
          uploadText(fr.result);
        });

      }
      fr.readAsText(this.files[0]);
    })
  })

  // Text auf Server hochladen
  async function uploadText(stream) {
    uploadFile.file_string = stream;
    const radios = document.querySelectorAll('input[type="radio"]');
    let plantId = 0;
    radios.forEach(rd => {
      if (rd.checked) {
        uploadFile.plant_id = rd.value;
      }
    });

    //NOTE - Ein und ausblenden Message
    if (uploadFile.file_string === "") {
      showCriticalMessageBox("kein text hochgeladen");
      return;
    };

    if (uploadFile.plant_id === 0) {
      showCriticalMessageBox("keine anlage ausgelesen!");
      return;
    }

    upload.removeAttribute("disabled");
    //FIXME - das laden der Datei funktioniert noch nicht.
    // das json-file wird gesendet und es kommt ein ok zurück
    // muss in dem API Handler angepasst werden.
    let data = JSON.stringify(uploadFile);
    console.log(data);
    const requestOptions = {
      method: 'POST',
      headers: {
        'Accept': 'application/text',
        'Content-Type': 'application/text'
      },
      body: data,
    };
    // File in DB speichern
    try {
      const response = await fetch('{{.API}}/api/read-fhx', requestOptions)
      const data = await response.json();
      console.log(data);
    } catch (err) {
      console.log(err);
    }
  }

  // Einlesen der Anlagen aus der Datenbank
  async function readPlants(selectElement) {

    let optionElement;
    let label;
    let radio;

    const requestOptions = {
      method: 'get',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    };

    // Einlesen der Anlagen aus der Datenbank
    const response = await fetch('{{.API}}/api/all-plants');
    const plants = await response.json();

    await plants.forEach(element => {
      label = document.createElement('label');
      label.setAttribute("for", `radio_${element.id}`);
      label.innerText = element.plant_name;
      radio = document.createElement('input');
      radio.setAttribute("name", `plant`);
      radio.setAttribute("type", 'radio');
      radio.setAttribute('id', `radio_${element.id}`);
      radio.setAttribute('value', `${element.id}`);
      radio.addEventListener('change', () => {
        upload.disabled = false;
      });
      selectElement.appendChild(label);
      selectElement.appendChild(radio);
    });
  }

</script>
{{ end }}