.parameter {
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    dt {
        width: 100%;
        flex-grow: 1;
    }
    dd {
        text-align: left;
        width: 100%;
        border: 1px solid yellow;
        flex-grow: 1;
    }
}