{{ define "header" }}
<header>
    <div class="header-bar">
        <div class="header-bar-icons">
            <span class="icomoon-grid" aria-hidden="true"></span>
            <span class="icomoon-user" aria-hidden="true"></span>
            <span class="icomoon-stars" aria-hidden="true"></span>
            <span class="icomoon-pencil7" aria-hidden="true"></span>
            <span class="icomoon-stamp" aria-hidden="true"></span>
            <span class="icomoon-bell2" aria-hidden="true"></span>
        </div>
        <div class="header-bar-search">
            <input class="search-input" type="text" placeholder="Suche starten...">
            <span class="icomoon-search2 search-icon" aria-hidden="true"></span>
        </div>
    </div>
</header>
{{ end }}