{{ define "navigation"}}
<nav class="header-nav">
    {{ $file := .FileName }}
    <a href="/" alt="Startseite" class="header-nav-brand">
        <img class="header-logo" src="static/img/header-logo.png">
    </a>
    <a href="/" alt="Startseite" class="header-nav-link"></a>
        <span class="icomoon-home5" aria-hidden="true"></span>
    </a>
    <a href="/" alt="Startseite" class="header-nav-link {{ if eq $file "/"}} red {{end}}">
        Home
    </a>
    <a href="/redipe" alt="Rezepte" class="header-nav-link {{ if eq $file "/recipe"}} red {{end}}">
        Rezepte
    </a>
    <a href="/units" alt="Unitproceduren" class="header-nav-link {{ if eq $file "/units"}} red {{end}}">
        Unitprocedures
    </a>
    <a href="/operations" alt="Operations" class="header-nav-link {{ if eq $file "/operations"}} red {{end}}">
        Operations
    </a>
</nav>
{{ end }}