:root {
    --clr-white: #ffffff;
    --clr-black: #000;
    --clr-bg: #f4f4f4;
    --clr-blue: #4f8ceb;
    --clr-darkblue: #0000ff;
    --clr-orangelight: #ff7947;
    --clr-orange: #FF6B33;
    --clr-gray: #d3d3d3;

    --padding: 0.5rem;

}

.fill-arxada-blue {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.w3-primary {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}
body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background-color: var(--clr-bg);
}

i,
cite,
em {
    font-family: "Spectral", sans-serif;
    font-style: italic;
}

b,
strong,
h1,
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Unily", serif;
    font-size: 3rem;
}

a {
    color: var(--clr-orange);
    text-decoration: none;
}

a:hover {
    color: var(--clr-orangelight);
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    height: 1.8rem;
    width: 1.8rem;
}
