.card {
    border: solid 1px var(--clr-gray);
    border-radius: calc(var(--padding) * 2);
    background-color: var(--clr-white);
    
    display: flex;
    flex-direction: column;

    & .card-header {        
        padding: calc(var(--padding) * 2);
        border-bottom: solid 1px var(--clr-gray);
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        background-color: var(--clr-orange);
        color: var(--clr-white);
        width: 100%;
        border-top-left-radius: calc(var(--padding) * 2);
        border-top-right-radius: calc(var(--padding) * 2);
        text-align: center;
    }

    & .card-content {
        background-color: aquamarine;
        padding: calc(var(--padding) * 2);
        height: 100%;
        width: 100%;
    }
}

