
/**************************************************************
/* BUTTON
/**************************************************************/

.btn {
    padding: var(--padding);
    border-radius: var(--padding);
    background-color: var(--orange);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}
.btn:disabled, .btn:disabled:hover {
    background-color: lightgray;
}

.btn:hover {
    background-color: var(--hover-orange);
}


/**************************************************************
/* Input Felder 
/**************************************************************/
.input[type="text"] {
    padding: var(--padding);
    border: solid 1px var(--dark-blue);
}

.file-input {
    display: none;
}

.file-label {
    color: red;
    cursor: pointer;
}