@import './up.css';
:root {
    --blue: #4F8CEB;
    --orange: #ff6b33;
    --white: #fff;
    --light-gray: #bbb;
    --black: #222;
    --dark-gray: #242424;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    min-width: 320px;
    transition: all .2s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    align-items: self-start;
    justify-items: center;
    background-color: var(--dark-gray);
}
ul {
    list-style: none;
}
.container {
    width: 99%;
    max-width: 1200px;
}
.footer, .header {
    background-color: var(--blue);
    height: 10vh;    
}

.footer {
    color: var(--white);
    padding: 2rem 1.5rem;
}

.footer p {
    text-align: left;
    /*margin-bottom: 1rem;*/
}

.header h1 {
    color: var(--white);
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding: 0;
}

.header nav {
    display: flex;
    align-items: center;    
    background-color: var(--white);
}

.header nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    margin-left: 15%;
    color: var(--black);
}

.header nav a:hover, .header nav a:focus {
    color: var(--blue);
}

.footer img, .header img {
    width: 10rem;
    height: 3.0rem;
    margin: .5rem;
}

section {
    margin-top: .5rem;
}
main {
    display: flex;
    flex-direction: column;    
    gap: 1.5rem;
    color: white;
    background-color: var(--dark-gray);
}

#searchForm {
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: .2rem;

}
#searchForm input{
    width: 100%;
    font-size: 1.6rem;
    padding: .6rem 0.4rem;
    border: none;
}
#searchForm button{
    width: 2rem; 
    outline: none;
    border: none;
    background-color: var(--light-gray);
}

ul{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;   
    gap: 0.8rem;
}
ul li {
    width: 22rem;  
    color: #000;
    position: relative;
    margin-top: 5px;  
    
    overflow: hidden;  
}
ul li a {    
    display: block;    
    background-color: var(--orange);  
    color: white;    
    padding: 6px 5px;
    text-align: center;   
}
.product  li h3 {
    text-align: center;
    color: var(--white);
}
.product li a {
    display: block;   
    background-color: var(--blue);   
    
}

