
.up {
    display: flex;
    justify-content: center;
    border: solid 5px yellow;
}
.sidebar {
    flex: 1;
}
.sidebar a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--light-gray);
    padding: .5rem;
}
.upList {
    flex: 2;
    padding-top: 10px;
    margin-right: 5px;
    min-width: 30rem;
    
}

.upList h2 {
    background-color: var(--orange);
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
    padding: .5rem .8rem;
    text-align: center;
}

.upList li {
    min-width: 35rem;
}

.upList table {
    width: 100%;
    background-color: var(--white);
}

.upList th {
    text-align: center;
    background-color: var(--blue);
    color: white;
    padding: .3rem 0;
    font-weight: 300;
}

.upList td {
    border-bottom: 1px solid var(--light-gray);
    padding: .2rem 0rem .3rem 0rem;
    text-align: center;
}
.hist {
    font-style: italic;
}

.upList .num {
    font-size: 1.2rem;
}

.upList .desc {
    text-align: left;
    padding-left: .5rem;
    font-size: 1.3rem;;
}
.upList .txt {
    font-size: 1.4rem;
    text-align: left;
    background-color: var(--light-gray);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.upList .dat {
    text-align: right;
    font-weight: 300;
    font-family: inherit;
}