{{ define "header" }}
<header class="header">    
    <div class="plant">
    </div>
    <nav>        
        <a class="active" href="/">Home</a>
        <a href="/">Home</a>        
        <a href="/recipes">Rezepte</a>            
    </nav>
</header>
{{ end }}