{{ define "header" }}
<header class="header">    
    <nav>        
        <a class="active" href="/">Home</a>
        <a href="/">Home</a>
        <a href="/plants">Anlagen</a>
        <a href="/recipes">Rezepte</a>            
    </nav>
</header>
{{ end }}