<header class="header">
    <div class="header--logo">
        <img src="/arxada-blue.png" alt="Arxada Logo">
    </div>
<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:1930264708. -->
    <nav class="header--nav">        
        <ul class="header--nav-left">
            <li><a class="black" href="/">Home</a></li>
            <li><a class="black" href="/operation" >Operationen</a></li>
            <li><a class="black" href="/unit">Units</a></li>
            <li><a class="black" href="/recipes">Rezepte</a></li>
        </ul>
        <ul class="header--nav-admin">
            <li><a class="black" href="/fhx">Daten laden</a></li>
            <li><a class="black" href="#">Users</a></li>
            <li><a class="black" href="/plant">Betrieb</a></li>            
        </ul>
        <ul class="header--nav-right">
            <li><a class="black" href="/login">Login</a></li>
            <li><a class="black" href="/logout">Logout</a></li>
            <li><a class="black" href="/register">Registrieren</a></li>            
        </ul>        
    </nav>
</header>   
