{{ define "header.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title> {{ . }}</title>
</head>
<body>
    <header class="header container">
        <h1>Standards Q2000</h1>
        <nav>            
            <img src="https://pweulonza.azureedge.net/static/Fallback/Assets/header-logo-uX5g-bsbk3iAmJJ046vKCwsj0GsVpFJph4TkZ5lJzb41.png?sv=2017-04-17&sr=c&sig=HMIw05Ib%2BCIV%2FKqimaaYTq3vvzNsgoKKyDScO4veiKc%3D&se=2023-03-09T04%3A42%3A38Z&sp=r" />
            <a href="/"> Startseite <span class="icon">🏚</span></a>            
        </nav>
    </header>
{{ end }}