<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Delta-V</title>
</head>
<body>
    <header class="header container">
        <h1>Standards Q2000</h1>
        <nav>            
            <img src="https://pweulonza.azureedge.net/static/Fallback/Assets/header-logo-uX5g-bsbk3iAmJJ046vKCwsj0GsVpFJph4TkZ5lJzb41.png?sv=2017-04-17&sr=c&sig=HMIw05Ib%2BCIV%2FKqimaaYTq3vvzNsgoKKyDScO4veiKc%3D&se=2023-03-09T04%3A42%3A38Z&sp=r" />
            <a href="./index.html"> Startseite <span class="icon">🏚</span></a>            
        </nav>
    </header>
    <main class="container">        
        <section class="wrapper">
            <form id="searchForm">
                <input type="text" placeholder="Search..." id="search" name="search" />
                <button>
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                </button>
            </form>
                <h2>Standard Unit Procedures</h2>
            <ul class="standard">
                <li>
                    <a href="./up.html">Q2000</a>                
                </li>
                <li>
                    <a href="./up.html">Q2200</a>                
                </li>
                <li>
                    <a href="./up.html">S508</a>                
                </li>
                <li>
                    <a href="./up.html">Q2800</a>                
                </li>
                <li>
                    <a href="./up.html">P105</a>                
                </li>            
            </ul>
        </section>
        <section class="wrapper">
            <form id="searchForm">
                <input type="text" placeholder="Search..." id="search" name="search" />
                <button>
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                </button>
            </form>
            <h2>Produkte</h2>
            <ul class="product">
                <li>
                    <h3>Jodosulfuron</h3>
                    <ul>
                        <li><a href="./produkt.html">Q2000</a></li>
                        <li><a href="./produkt.html">Q2200</a></li>
                        <li><a href="./produkt.html">P105</a></li>
                        <li><a href="./produkt.html">S508</a></li>                    
                    </ul>                
                </li>
                <li>
                    <h3>Asura-2</h3>
                    <ul>
                        <li><a href="./produkt.html">Q2000</a></li>
                        <li><a href="./produkt.html">Q2200</a></li>
                        <li><a href="./produkt.html">P105</a></li>
                        <li><a href="./produkt.html">S508</a></li>   
                        <li><a href="./produkt.html">Q2400</a></li>   
                        <li><a href="./produkt.html">Q2100</a></li>   
                    </ul>  
                </li>
                <li>
                    <h3>Iodos-3</h3>
                    <ul>
                        <li><a href="./produkt.html">Q3000</a></li>
                        <li><a href="./produkt.html">Q3100</a></li>
                        
                    </ul>  
                </li>                      
            </ul>
        </section>
    </main>
   
</body>
</html>