{{ template "header.html" .header}}
    <main class="container">   
        <section class="wrapper">
            <form id="searchForm">
                <input type="text" placeholder="Search..." id="search" name="search" />
                <button>
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                </button>
            </form>
            <section class="up">
                <nav class="sidebar">
                    {{ range $path := .upnames}}
                        <a href="/up/name={{$path}}">{{ $path }}</a>
                    {{ end }}
                </nav>
                <ul class="upList">
                    <li>                        
                        <table>
                            <thead>
                                <h2>UP_Q2000_START</h2>
                            </thead>
                            <tr>                                
                                <th>Parameter</th>
                                <th>Min</th>
                                <th>Ist</th>
                                <th>Max</th>
                            </tr>
                            <tr>                                
                                <td class="txt">FP_HK_TCW</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr>
                            <tr>                                
                                <td class="txt">FP_HK_TCW_HO</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr> 
                            <tr>                                
                                <td class="txt">FP_BESCHREI</td>
                                <td class="desc" colspan="3">Bezug Toluol</td>                                
                            </tr>     
                            <tr>                                
                                <td class="txt">FP_HK_TCW_HO</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr>                       
                        </table>
                    </li>
                    <li>                        
                        <table>
                            <thead>
                                <h2>UP_Q2000_1TR_START</h2>
                            </thead>
                            <tr>                                
                                <th>Parameter</th>
                                <th>Min</th>
                                <th>Ist</th>
                                <th>Max</th>
                            </tr>
                            <tr>                                
                                <td class="txt">FP_HK_TCW</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr>
                            <tr>                                
                                <td class="txt">FP_HK_TCW_HO</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr> 
                            <tr>                                
                                <td class="txt">FP_BESCHREI</td>
                                <td class="desc" colspan="3">Bezug Toluol</td>                                
                            </tr>     
                            <tr>                                
                                <td class="txt">FP_HK_TCW_HO</td>
                                <td class="num">-20 °C</td>
                                <td class="num">20 °C</td>
                                <td class="num">180 °C</td>
                            </tr>                       
                        </table>
                    </li>
                </ul>
            </section>
        </section>
    </main>
    
{{ template "footer.html" }}