{{template "base" .}}

{{ define "title" }}
    Delta-V Daten Hochladen
{{ end }}

{{ define "content" }} 
    <form action="" mehode="POST">
        <div class="form-group">
            <label for="fhxFile">FHX-Datei</label>
            <input type="file" class="form-control" id="fhxFile" name="fhxFile">
        </div>
        <div class="form-group">
            <label for="fhxPlant">Betrieb</label>
            <select>
                <option value="1">Betrieb 1</option>
                <option value="2">Betrieb 2</option>
                <option value="3">Betrieb 3</option>
            </select>>
        </div>
        <a href="javascript:void(0)" class="button" onClick="load()">Laden</a>
    </form>
{{ end }}

{{ define "js"}}

{{end}}