{{template "base" .}}

{{ define "title" }}
    Delta-V Documentation
{{ end }}

{{ define "content" }} 
    <div class="home">
        <h2>Delta-V Documentation</h2>
        <hr>
        <p>
            Parameter und Dokumentationen von Delta-V Rezepten.
        </p>
        <div class="content-image">
            <img src="../assets/images/deltav_main.jpg" alt="Delta-V">
        </div>
    </div>
{{ end }}
