{{template "base" .}}

{{ define "title" }}
    Delta-V Login Page
{{ end }}

{{ define "content" }}
    <div id="login-alert"></div>
    <form method="POST" action="/login" id="login-form"> 
        <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="loginEmail" class="form-control" id="loginEmail" name="Email">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="loginPassword" class="form-control" id="loginPassword" name="Password">
        </div>
        <a href="javascript:void(0)" class="button" onClick="val()">Login</a>
    </form>
{{ end }}

{{ define "js"}}
<script>
    const loginEmail = document.getElementById('loginEmail')
    const loginPassword = document.getElementById('loginPassword')    

    async function val() {
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ Email: loginEmail.value, Password: loginPassword.value })
        };
        try {
            const response = await fetch("/login/authenticate", requestOptions)
            const data = await response.json()
            Alert.show({
                id: 'login-alert',
                message: data.message, 
                type: 'success'
            })
            if (data.ok) {
                localStorage.setItem('token', data.content.token)
                localStorage.setItem('token_expiry', data.content.expiry)
                console.log(data)
            } else {
                console.log('ERROR')
                Alert.show({
                id: 'login-alert',
                message: data.message, 
                type: 'error'
            })
            }
        } catch (error) {
            console.error({message: "Error Submit LoginForm", err: error})
        }
        
    }

</script>
{{end}}