{{template "base" .}}

{{ define "title" }}
    Operationen im Delta-V
{{ end }}

{{ define "content" }} 
    <div class="operation-container">
        <section id="operation">
            <h2>Operationen</h2>
            <p>Die Operationen werden mit den Rezepten und Rezeptdaten verbindet. </p>     
            {{ $ops := index .Data "ops" }}        
            <ul>
                {{ range $ops}}
                    <!-- <li><button onclick="importDetails({{ .OpplantId }})">{{ .OpName }}</button></li> -->
                    <li>
                        <a href="javascript:void(0)" onclick="importDetails({{ .OpplantId }})">{{ .OpName }}</a>
                    </li>
                {{ end }}
            </ul>
        </section>
        <section id="opParamdetails">
        
        </section>
    </div>
{{ end }}
{{ block "js" .}}{{ end }}
{{ define "js"}}
<script> 
    document.addEventListener('DOMContentLoaded', () => {
    });
    async function importDetails(id) {        
        const plantId = plant.plantId        
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }            
        };
        const response = await fetch(`/operation/details/${id}`, requestOptions);
        const data = await response.json();
        if (!data) {
            opParamdetails.innerHTML = "Keine Daten";
            return
        }
        console.log(data)
        const s = await renderDetails(data);
        opParamdetails.innerHTML = s;
    }

    async function renderDetails(data) {
        let s = `<div class="tbl-param">`;    
        let d = data;
        d.forEach(element => {
            s = s + "<p>" + element.param_name + "</p>"
            element.value.forEach(v => {
                if (v.cv) {
                    s = s + "<p><i>" + v.cv + "</i></p>"
                } else {
                    s = s + "<p><i>" + v.stringvalue + "</i></p>"
                }
            })
        });
        return `</div>${s}`;
    }
    
</script>
{{ end }}

