{{template "base" .}}

{{ define "title" }}
    Operationen im Delta-V
{{ end }}

{{ define "content" }} 
    <div class="container">
        <section class="container-left" id="operation">
            <h2>Operationen</h2>
            <p>Die Operationen werden mit den Rezepten und Rezeptdaten verbindet. </p>     
            {{ $ops := index .Data "ops" }}        
            <ul>
                {{ range $ops}}
                    <li>
                        <a class="btn" 
                        href="javascript:void(0)" 
                        onclick="importDetails({{ .OpplantId }})">
                            {{ .OpName }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section>
        <section class="container-right" id="opParamdetails">
            
        </section>
    </div>
{{ end }}
{{ block "js" .}}{{ end }}
{{ define "js"}}
<script> 
    document.addEventListener('DOMContentLoaded', () => {
    });
    async function importDetails(id) {        
        const plantId = plant.plantId        
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }            
        };
        const response = await fetch(`/operation/details/${id}`, requestOptions);
        const data = await response.json();
        if (!data) {
            opParamdetails.innerHTML = "Keine Daten";
            return
        }
        console.log(data)
        const s = await renderDetails(data);
        opParamdetails.innerHTML = s;
    }

    async function renderDetails(data) {
        let s = `<div class="tbl-param">`;    
        let d = data;
        d.forEach(element => {
            s = s + `<div class='tbl-row'>
                        <h4 class='tbl-param-name'>
                            ${element.param_name}
                        </h4>
                        <p>${element.param_desc}</p>
                    <div class='tbl-row-box'>`;
            element.value.forEach(v => {
                s = s + `
                <div class='tbl-row-detail'>
                            <span>Erstellt am: </span>
                            <span>${v.created_at}</span>
                        </div>`; 
                if (v.cv) {
                    s = s + `<div class='tbl-row-detail'>          
                                <span>${v.low} ${v.unit}</span>
                                <span>${v.cv} ${v.unit}</span>
                                <span>${v.high} ${v.unit}</span>
                            </div>`; 
                } else {
                    s = s + `<div class='tbl-row-detail'>
                                <span>String Value: </span>
                                <span>${v.stringvalue}</span>;
                            </div>`;               
                }
                s = s + "<hr>";
            });
            s = s + "</div></div>"
        });
        return s + `</div>`;
    }
    
</script>
{{ end }}

