{{template "base" .}}

{{ define "title" }}
    Delta-V Register Page
{{ end }}

{{ define "content" }} 
    <form method="POST" action="/login" id="register-form"> 
        <div class="form-group">
            <label for="registerName">Name</label>
            <input type="" class="form-control" id="registerName" name="Name">
        </div>
        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input type="registerEmail" class="form-control" id="registerEmail" name="Email">
        </div>
        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="registerPassword" class="form-control" id="registerPassword" name="Password">
        </div>
        <div class="form-group">
            <label for="registerPassword">Password Confirm</label>
            <input type="registerPassword" class="form-control" id="registerPassword">
        </div>
        <a href="javascript:void(0)" class="button" onClick="val()">Anmelden</a>
    </form>
{{ end }}

{{ define "js"}}
<script>
    const registerName = document.getElementById('registerName')
    const registerEmail = document.getElementById('registerEmail')
    const registerPassword = document.getElementById('registerPassword')

    async function val() {
        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(
                { 
                    Name: registerName.value,
                    Email: registerEmail.value, 
                    Password: registerPassword.value 
                })
        };
        try {
            const response = await fetch("/register/save", requestOptions)
            const data = await response.json()
            console.log(data)
        } catch (error) {
            console.error({message: "Error Submit registerForm", err: error})
        }
        
    }

</script>
{{end}}