{{template "base" .}}

{{ define "title" }}
    Delta-V Documentation
{{ end }}

{{ define "content" }} 
    <div class="unit">
        <h2>Unitproceduren</h2>
        <section class="left">
        {{ $units := index .Data "units" }}        
            <ul>
                {{ range $units}}                    
                    <li>
                        <a href="javascript:void(0)" alt="{{ .ID }}">{{ .UnitName }} - {{.UnitCategory }}</a>
                    </li>
                {{ end }}
            </ul>
        </section>
        <section class="right">
            <p>Alle OPs zu der Unit</p>
        </section>        
    </div>
{{ end }}

