<div class="page">
    <h2 class="title-small mb-4">Upload</h2>
    <div class="w-11/12  m-auto">
        <div class="flex flex-col items-center ">
            <label [ngClass]="fileContent() !== 'Resultat...' ? 'disabled' : ''" class="btn" for="fileUpload">Datei Laden</label>
            <input hidden type="file" id="fileUpload" (change)="onFileSelected($event)">
            <p>
                <span  class="text-2xl my-3 block w-72" >Dateiname: {{ fileName() }}</span>
            </p>
            <button [ngClass]="fileName() ==='...' ? 'disabled' : ''" class="btn">Hochladen</button>
            <pre class="shadow-md p-2 h-120 w-11/12 h-[300px] bg-white block mt-2">
                {{ fileContent() }}
            </pre>
        </div>
    </div>
</div>
