
<div class="page">
<h2 class="title-small mb-4">Anlagen</h2>
  <div class="flex flex-row justify-around shadow-md bg-white p-3 rounded-xl accent-orange-500">
    @for(plant of plants; track plant.plant_id) {
      <ots-plant-item [plant]="plant"></ots-plant-item>
    }
  </div>
  <h2 class="title-small mt-6">Anlagen bearbeiten</h2>
  
  <div class="w-11/12 m-auto">
    <div class="flex flex-col justify-between">
      <form
        (ngSubmit)="onSubmit()"
        role="form"
        class="flex flex-col w-6/12 m-auto shadow-md p-2 rounded-md mt-4 bg-white"
      >
        <div class="flex flex-row mt-14">
          <label class="label" for="plantname">Anlagename:</label>
          <input
            class="inputtext ml-4"
            type="text"
            name="plantname"
            id="plantname"
            [value] = "inputText"
            [(ngModel)]="inputText"
            (change)="saveLocal()"
          />
        </div>
        <button
          [ngClass]="inputText === '' ? 'disabled' : ''"
          type="submit"
          class="btn mt-14"
        >
          Speichern
        </button>
      </form>
    </div>
  </div>
</div> 
