#page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 60vh 20vh;
}

.center-content {
    display: grid;
    grid-template-columns: [left-start] minmax(6rem, 1fr)[left-end content-start] minmax(min-content, 90vw) [content-end right-start] minmax(6rem, 1fr)[right-end];
    height: 100%;
    & > * {
        grid-column: content-start / content-end;       
    }
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto auto;
    gap: calc(var(--padding) * 2);
}

#top {
    grid-row: 1 / 1 ; 
    background-color: var(--clr-blue);
    display: grid;
}

#pageHeader {
    grid-row: 2 / 2 ;  
    background-color: var(--clr-white);
}

#pageFooter {
    grid-row: 4 / 4 ;  
    background-color: var(--clr-blue);
}

#pageContent {
    grid-row: 3 / 3 ;   
    background-color: var(--clr-bg);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--clr-white);
}

.d-none {
    display: none;
}

.container {
    border: solid 1px black;
    display: flex;
    gap: calc(var(--padding) * 1);
    & .container-left {
        flex: 1;
        border: solid 1px red;
        padding: 0;
        background-color: var(--clr-gray);        
        & h2 {
            text-align: center;
            background-color: var(--clr-blue);
            color: var(--clr-white);
            border-radius: 2px;
        }        
        & p {
            padding: calc(var(--padding) * 2);
        }
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: calc(var(--padding) * 2);
            margin: 0 calc(var(--padding) * 2);
        }
    }
    & .container-right {
        flex: 3;
        border: solid 1px green;
        display: flex;
        flex-direction: column;
        & .tbl-param {
            & .tbl-param-name {
                background-color: var(--clr-blue);
                color: var(--clr-white);
                padding: calc(var(--padding) * 2);
            }
            & .tbl-row-box {
                border-bottom: solid 1px black;
            }
            & .tbl-row-detail {
                display: flex;
                justify-content: space-between;
                padding: calc(var(--padding) * 1);
                flex-direction: row;
            }
            
        }
    }
}


