@import "fonts.css";

:root {
    --clr-white: #ffffff;
    --clr-black: #000;
    --clr-bg: #f4f4f4;
    --clr-blue: #4f8ceb;
    --clr-darkblue: #0000ff;
    --clr-orangelight: #ff7947;
    --clr-orange: #FF6B33;
    --clr-gray: #d3d3d3;

    --padding: 0.5rem;   
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background-color: var(--clr-bg);
}

i,
cite,
em {
    font-family: "Spectral", sans-serif;
    font-style: italic;
}

b,
strong,
h1,
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Unily", serif;
    font-size: 3rem;
}

a {
    color: var(--clr-orange);
    text-decoration: none;
}

a:hover {
    color: var(--clr-orangelight);
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.icon {
    height: 1.8rem;
    width: 1.8rem;
}

/**
    Layout
**/
#app {
    width: 100%;
    display: grid;
    grid-template-columns: [left-start] minmax(6rem, 1fr)[left-end content-start] minmax(min-content, 90vw) [content-end right-start] minmax(6rem, 1fr)[right-end];
    grid-template-rows: [top-start] 6rem [nav-start] 8rem [start-main] auto [start-footer] 10rem;
}

#top {
    grid-row: 1 / 1 ; 
    grid-column: content-start / content-end;
    background-color: var(--clr-blue);
    display: grid;
}

#header {
    grid-row: 2 / 2 ;  
    grid-column: content-start / content-end;
    background-color: var(--clr-white);
}

#footer {
    grid-row: 4 / 4 ;  
    grid-column: content-start / content-end;
    background-color: var(--clr-blue);
}

#main {
    grid-row: 3 / 3 ;   
    grid-column: content-start / content-end;
    background-color: var(--clr-bg);
    display: grid;
    grid-template-columns: [left-start]1fr [left-end center-start] repeat(8, minmax(1rem, 1fr)) [center-end right-start] 1fr [right-end];
    grid-template-rows: minmax(5rem, 2rem) auto;
}

.main__title {
    grid-row: 1 / 1;
    grid-column: left-start / right-end;
    text-align: center;
}

.d-none {
    display: none;
}




