.top-plant {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    padding-right: calc(var(--padding) * 4);

    & h2 {
        font-size: calc(var(--padding) * 6);
    }
}

